.titre { font-family :Verdana; 
         font-size :24;
         color :#0099FF; 
         text-align:center;
         font-weight :800;
       }
.retour{ font-family :Arial; 
         font-size :18;
         font-weight :800;
       }
TD.menu{ border-right: solid 3px;
         border-right-color: #OOOOOO;
       }